.app-container .side-menu .panel.widget h4 {
    display: block;
    float: left;
    height: 26px;
    left: 60px;
    left: 56px;
    margin-top: 10px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -10px;
    width: 190px;
}

.dashboard-user-role{
    margin-top: 25px;
    margin-left: 8px;
    float: left;
}
